@{
    ViewData["Title"] = "Обсуждения";
}

<div class="discussions-container">
    <div class="discussions-list">
        <h1 class="discussions-title">Обсуждения</h1>

        <div class="discussions-search">
            <input type="text" placeholder="Поиск по обсуждениям...">
            <button><i class="fas fa-search"></i> Найти</button>
        </div>

        <div class="discussion-item">
            <div class="discussion-header">
                <img src="gray-user-profile-icon-png-fP8Q1P.png" alt="Аватар" class="discussion-avatar">
                <div>
                    <span class="discussion-user">CosplayMaster</span>
                    <span class="discussion-time">2 часа назад</span>
                </div>
            </div>
            <h3 class="discussion-title">Как сделать реалистичный меч для косплея?</h3>
            <p class="discussion-text">Привет всем! Готовлю косплей на Гатса из Берсерка и хочу сделать его меч максимально реалистичным. Какие материалы лучше использовать для лезвия? Пластик, дерево или может быть пенопласт с покрытием? Буду благодарен за любые советы!</p>
            <div class="discussion-tags">
                <span class="discussion-tag">#реквизит</span>
                <span class="discussion-tag">#советы</span>
                <span class="discussion-tag">#берсерк</span>
            </div>
            <div class="discussion-stats">
                <div class="discussion-stat">
                    <i class="far fa-thumbs-up"></i>
                    <span>56</span>
                </div>
                <div class="discussion-stat">
                    <i class="far fa-comment"></i>
                    <span>23</span>
                </div>
            </div>
        </div>

        <div class="discussion-item">
            <div class="discussion-header">
                <img src="gray-user-profile-icon-png-fP8Q1P.png" alt="Аватар" class="discussion-avatar">
                <div>
                    <span class="discussion-user">AnimeArtist</span>
                    <span class="discussion-time">5 часов назад</span>
                </div>
            </div>
            <h3 class="discussion-title">Лучшие маркеры для рисования аниме-артов</h3>
            <p class="discussion-text">Делитесь своими любимыми маркерами для рисования в аниме-стиле! Я пробовала Copic, но они очень дорогие. Есть ли хорошие альтернативы с похожим качеством, но по более доступной цене? Интересно узнать про ваш опыт работы с разными брендами.</p>
            <div class="discussion-tags">
                <span class="discussion-tag">#арт</span>
                <span class="discussion-tag">#рисование</span>
                <span class="discussion-tag">#материалы</span>
            </div>
            <div class="discussion-stats">
                <div class="discussion-stat">
                    <i class="far fa-thumbs-up"></i>
                    <span>56</span>
                </div>
                <div class="discussion-stat">
                    <i class="far fa-comment"></i>
                    <span>23</span>
                </div>
            </div>
        </div>

        <div class="discussion-item">
            <div class="discussion-header">
                <img src="gray-user-profile-icon-png-fP8Q1P.png" alt="Аватар" class="discussion-avatar">
                <div>
                    <span class="discussion-user">HatsuneLover</span>
                    <span class="discussion-time">1 день назад</span>
                </div>
            </div>
            <h3 class="discussion-title">Где купить качественный парик для Мику?</h3>
            <p class="discussion-text">Ищу хороший парик для косплея Хацунэ Мику. Хочется, чтобы он был качественным и не слишком дорогим. Какие магазины можете порекомендовать? Или может быть кто-то продает б/у в хорошем состоянии?</p>
            <div class="discussion-tags">
                <span class="discussion-tag">#парики</span>
                <span class="discussion-tag">#vocaloid</span>
                <span class="discussion-tag">#советы</span>
            </div>
            <div class="discussion-stats">
                <div class="discussion-stat">
                    <i class="far fa-thumbs-up"></i>
                    <span>56</span>
                </div>
                <div class="discussion-stat">
                    <i class="far fa-comment"></i>
                    <span>23</span>
                </div>
            </div>
        </div>

        <div class="discussion-item">
            <div class="discussion-header">
                <img src="gray-user-profile-icon-png-fP8Q1P.png" alt="Аватар" class="discussion-avatar">
                <div>
                    <span class="discussion-user">PhotographyPro</span>
                    <span class="discussion-time">2 дня назад</span>
                </div>
            </div>
            <h3 class="discussion-title">Советы по фотосъемке косплея</h3>
            <p class="discussion-text">Как вы делаете крутые фото своих косплеев? Делитесь советами по освещению, позам и обработке фотографий. Особенно интересует, как передать атмосферу персонажа на снимках. Какие приемы вы используете?</p>
            <div class="discussion-tags">
                <span class="discussion-tag">#фото</span>
                <span class="discussion-tag">#советы</span>
                <span class="discussion-tag">#обработка</span>
            </div>
            <div class="discussion-stats">
                <div class="discussion-stat">
                    <i class="far fa-thumbs-up"></i>
                    <span>56</span>
                </div>
                <div class="discussion-stat">
                    <i class="far fa-comment"></i>
                    <span>23</span>
                </div>
            </div>
        </div>

        <div class="discussion-item">
            <div class="discussion-header">
                <img src="gray-user-profile-icon-png-fP8Q1P.png" alt="Аватар" class="discussion-avatar">
                <div>
                    <span class="discussion-user">NewbieCosplayer</span>
                    <span class="discussion-time">3 дня назад</span>
                </div>
            </div>
            <h3 class="discussion-title">С чего начать новичку в косплее?</h3>
            <p class="discussion-text">Всегда восхищалась косплеем и наконец решила попробовать сама. Но не знаю, с чего начать. Как выбрать первого персонажа? Какие материалы лучше использовать для первого костюма? Буду рада любым советам для начинающих!</p>
            <div class="discussion-tags">
                <span class="discussion-tag">#новичкам</span>
                <span class="discussion-tag">#советы</span>
                <span class="discussion-tag">#начало</span>
            </div>
            <div class="discussion-stats">
                <div class="discussion-stat">
                    <i class="far fa-thumbs-up"></i>
                    <span>56</span>
                </div>
                <div class="discussion-stat">
                    <i class="far fa-comment"></i>
                    <span>23</span>
                </div>
            </div>
        </div>

        <div class="pagination">
            <a href="#" class="page-number active">1</a>
            <a href="#" class="page-number">2</a>
            <a href="#" class="page-number">3</a>
            <a href="#" class="page-number">4</a>
            <a href="#" class="page-number">5</a>
        </div>
    </div>

    <aside class="create-discussion">
        <h2 class="create-title">Создать обсуждение</h2>
        <form>
            <div class="form-group">
                <label for="title">Заголовок</label>
                <input type="text" id="title" placeholder="О чем вы хотите спросить?">
            </div>
            <div class="form-group">
                <label for="text">Текст обсуждения</label>
                <textarea id="text" placeholder="Опишите ваш вопрос или тему для обсуждения"></textarea>
            </div>
            <div class="form-group">
                <label for="tags">Теги (через запятую)</label>
                <input type="text" id="tags" placeholder="например: косплей, советы, материалы">
            </div>
            <button type="submit" class="submit-btn">Опубликовать</button>
        </form>
    </aside>
</div>