@{
    ViewData["Title"] = "Главная";
}

<div class="main-container">
    <aside class="events-sidebar">
        <h2 class="sidebar-title">Ближайшие мероприятия</h2>
        <div class="event-item">
            <div class="event-title">AnimeCon 2025</div>
            <div class="event-date">15-17 сентября, Москва</div>
        </div>
        <div class="event-item">
            <div class="event-title">Cosplay Fest</div>
            <div class="event-date">5-6 октября, Санкт-Петербург</div>
        </div>
        <div class="event-item">
            <div class="event-title">Japan Weekend</div>
            <div class="event-date">21-22 октября, Казань</div>
        </div>
        <div class="event-item">
            <div class="event-title">AnimeLand</div>
            <div class="event-date">11-12 ноября, Екатеринбург</div>
        </div>
        <div class="event-item">
            <div class="event-title">Winter Cosplay Party</div>
            <div class="event-date">16 декабря, Москва</div>
        </div>
        <div class="event-item">
            <div class="event-title">New Year Anime Night</div>
            <div class="event-date">30 декабря, Санкт-Петербург</div>
        </div>
        <div class="event-item">
            <div class="event-title">Anime Spring Festival</div>
            <div class="event-date">20-22 марта, Нижний Новгород</div>
        </div>
        <div class="event-item">
            <div class="event-title">Cosplay Championship</div>
            <div class="event-date">10-12 апреля, Ростов-на-Дону</div>
        </div>
    </aside>
        
    <main class="main-content">
        <article class="post">
            <div class="post-header">
                <img src="gray-user-profile-icon-png-fP8Q1P.png" alt="Аватар Sakura_Cos" class="post-avatar">
                <div>
                    <span class="post-user">Sakura_Cos</span>
                    <span class="post-time">2 часа назад</span>
                </div>
            </div>
            <img src="7700e2751f5cccf07a581f23a64cca58.jpg" alt="Косплей на Сакуру" class="post-image">
            <p class="post-text">Закончила свой новый косплей на Сакуру из Наруто! Как вам? 😊 #naruto #sakura #cosplay</p>
            <div class="post-actions">
                <div class="post-action">
                    <i class="far fa-thumbs-up"></i>
                    <span>56</span>
                </div>
                <div class="post-action">
                    <i class="far fa-comment"></i>
                    <span>23</span>
                </div>
            </div>
        </article>
            
        <article class="post">
            <div class="post-header">
                <img src="gray-user-profile-icon-png-fP8Q1P.png" alt="Аватар Anime_Artist" class="post-avatar">
                <div>
                    <span class="post-user">Anime_Artist</span>
                    <span class="post-time">5 часов назад</span>
                </div>
            </div>
            <img src="8e7c8c41f09314f658d115c6b1cea306.jpg" alt="Арт с Леви" class="post-image">
            <p class="post-text">Новый арт с Леви из Атаки Титанов. Пытался передать его крутой характер ✍️ #attackontitan #levi #animeart</p>
            <div class="post-actions">
                <div class="post-action">
                    <i class="far fa-thumbs-up"></i>
                    <span>56</span>
                </div>
                <div class="post-action">
                    <i class="far fa-comment"></i>
                    <span>23</span>
                </div>
            </div>
        </article>
            
        <article class="post">
            <div class="post-header">
                <img src="gray-user-profile-icon-png-fP8Q1P.png" alt="Аватар Cosplay_Newbie" class="post-avatar">
                <div>
                    <span class="post-user">Cosplay_Newbie</span>
                    <span class="post-time">1 день назад</span>
                </div>
            </div>
            <img src="MIKU_SP.png" alt="Косплей на Мику" class="post-image">
            <p class="post-text">Ребята, помогите советом! Хочу сделать косплей на Мику из Vocaloid, но не знаю, с чего начать. Какие материалы лучше использовать для парика? И где найти хорошие выкройки для костюма? #help #vocaloid #miku</p>
            <div class="post-actions">
                <div class="post-action">
                    <i class="far fa-thumbs-up"></i>
                    <span>56</span>
                </div>
                <div class="post-action">
                    <i class="far fa-comment"></i>
                    <span>23</span>
                </div>
            </div>
        </article>

        <div class="pagination">
            <a href="#" class="page-number active">1</a>
            <a href="#" class="page-number">2</a>
            <a href="#" class="page-number">3</a>
            <a href="#" class="page-number">4</a>
        </div>
    </main>
        
    <aside class="news-sidebar">
        <h2 class="sidebar-title">Новости косплея и аниме</h2>
        <div class="news-item">
            <div class="news-title">Анонсирован новый аниме-сериал от Studio Ghibli</div>
            <div class="news-text">Легендарная студия представила трейлер своего нового проекта, выход которого запланирован на весну 2025 года.</div>
            <div class="news-date">2 часа назад</div>
        </div>
        <div class="news-item">
            <div class="news-title">Конкурс косплея на Comic-Con Russia 2025</div>
            <div class="news-text">Регистрация на главный косплей-конкурс года открыта! Призы от спонсоров превышают 500 000 рублей.</div>
            <div class="news-date">1 день назад</div>
        </div>
        <div class="news-item">
            <div class="news-title">Новые материалы для косплея от японского бренда</div>
            <div class="news-text">Компания CosplayFabric выпустила линейку новых тканей с улучшенными характеристиками для создания костюмов.</div>
            <div class="news-date">2 дня назад</div>
        </div>
        <div class="news-item">
            <div class="news-title">Итоги чемпионата мира по косплею 2025</div>
            <div class="news-text">Российский косплеер занял второе место в престижном международном конкурсе в Японии.</div>
            <div class="news-date">3 дня назад</div>
        </div>
        <div class="news-item">
            <div class="news-title">Новый рекорд посещаемости аниме-фестиваля</div>
            <div class="news-text">Фестиваль Anime Festival 2025 посетило более 50 000 человек за 3 дня.</div>
            <div class="news-date">5 дней назад</div>
        </div>
        <div class="news-item">
            <div class="news-title">Открытие нового аниме-магазина в Москве</div>
            <div class="news-text">Крупнейший в России магазин аниме-мерча открыл свои двери для поклонников японской культуры.</div>
            <div class="news-date">1 неделя назад</div>
        </div>
    </aside>
</div>